<br>

<div class="container">
  <div class="alert alert-primary text-center" role="alert">
    SYSTEM ERROR
  </div>
</div>

  <table class="table container">
    <thead>
      <tr>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{error}}</td>
      </tr>


  </table>