<br>

<div class="container">
  <div class="alert alert-primary text-center" role="alert">
    SYSTEM CONFIGURATION
  </div>
</div>

  <table class="table container">
    <thead>
      <tr>
        <th scope="col">VARIABLE</th>
        <th scope="col">VALUE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>PORT</td>
        <td>{{port}}</td>
      </tr>
      <tr>
        <td>ADMIN EMAIL</td>
        <td>{{email}}</td>
      </tr>
  </table>